<!--
<nav class="py-3 px-5">
    <div class="row">
        <div class="col-md-2">
            <img src="assets/images/logo.png" class="img-fluid" />
        </div>
        <div class="col-md-8">
            <ul class="list-unstyled d-flex justify-content-center">
                <li class="nav-link">
                    <a routerLink='home'>HOME</a>
                </li>
                <li class="nav-link">
                    <a routerLink='movies'>MOVIES</a>
                </li>
                <li class="nav-link">
                    <a routerLink='tv'>TV</a>
                </li>
                <li class="nav-link">
                    <a routerLink='people'>PEOPLE</a>
                </li>
                <li class="nav-link">
                    <a routerLink='about'>ABOUT</a>
                </li>
                <li class="nav-link">
                    <a routerLink='contacts'>CONTACTS</a>
                </li>
                <li class="nav-link">
                    <a routerLink='reviews'>REVIEWS</a>
                </li>
                <li class="nav-link">
                    <a routerLink='messages'>send messages</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2 text-white d-flex justify-content-around">
            <i class="fab fa-facebook    "></i>
            <i class="fab fa-twitter    "></i>
            <i class="fab fa-instagram    "></i>
            <i class="fab fa-youtube    "></i>
        </div>
    </div>
</nav>
-->

<!--

<nav class="nav justify-content-center">
    <a class="nav-link active" href="#">Active link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link disabled" href="#">Disabled link</a>
</nav>

-->

<!--
<ul class="nav list-unstyled d-flex justify-content-center">
    <div class="col-md-2 m-2">
        <img src="assets/images/logo.png" class="img-fluid" />
    </div>
    <li class="nav-item">
        <a class="nav-link" routerLink='home'>HOME</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink='tv'>TV</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink='people'>PEOPLE</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink='about'>ABOUT</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink='contacts'>CONTACTS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink='reviews'>REVIEWS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink='messages'>Send Messages</a>
    </li>
</ul>
-->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark px-5 m-auto ">
        <a class="navbar-brand" href="#">CINEMA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink='home'>Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='tv'>TV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='movies'>Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='about'>About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='people'>People</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='contacts'>Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='reviews'>Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='messages'>Send Messages</a>
                </li>
            </ul>
        </div>
    </nav>
</div>